.board {
	height:50%;
	width:50%;
	display: inline-block;
	float: left;
	margin: 8%;
}

.card {
	height: 200px;
	width: 150px;
	border: 1px;
	border-style: solid;
	border-radius: 10px;
	border-color: #000000;
	background: #ffff00;
  margin: 8%;

}
	h2 {
		color: #FFD700;
	}
	
	h1 {color: rgb(2,132,130);
	}

	.name {
		color: #ffff00;
	}
	footer {
		text-align: center;
background: #808080;
          clear: both;
          color: white
	}

	div {
		float: left;
	}

nav {
	background-color: #808080;
}

a {
	background: #ffbf00;
    color: white;
    text-decoration: none;
	padding: 35px;
	display: block;
	float: left;
}

a:hover {
  background-color: #ee5f3c;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

body {
  text-align: center;
}